.row{
    margin-top: 10px;
    margin-bottom: 10px
}

thead {
    width: 200px;
    margin-top: 30px;
    padding-left: 10px;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE ;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}